@{
    ViewData["Title"] = "Student";
}

<div class="text-center">
    <h1 class="display-4">Student Portal</h1>
    <h6 class="display-4">Student's name: Kien LY</h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
