@{
    ViewData["Title"] = "Subjects";
}

<div class="text-center">
    <h1 class="display-4">Registered Subjects List </h1>
    <h6 class="display-4">ICT _ 272 </h6>
    <h6 class="display-4">ICT - 301 </h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
